body {
  font-family: Arial, sans-serif;
  background-color: #f8fafc; /* Tailwind: bg-slate-50 */
}

.resume-cv-page {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  max-width: 8.5in;
  min-height: 11in;
  margin: 2rem auto;
  background-color: white;
  padding: 3rem 2rem;
}
